<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jhyx.halfroom.dao.UserAnswerInfoDao">
    <select id="select_user_book_chapter_part_architecture_answer_by_user_id_and_book_id_and_book_chapter_id_and_book_chapter_part_id"
            resultType="com.jhyx.halfroom.bean.UserAnswerInfo">
        select *
        from user_book_chapter_part_architecture_answer
        <where>
            <if test="userId != null">
                user_id = #{userId}
            </if>
            <if test="bookId != null">
                and book_id = #{bookId}
            </if>
            <if test="bookChapterId != null">
                and book_chapter_id = #{bookChapterId}
            </if>
            <if test="bookChapterPartId != null">
                and book_chapter_part_id = #{bookChapterPartId}
            </if>
        </where>
    </select>

    <update id="update_user_book_chapter_part_architecture_answer">
        update user_book_chapter_part_architecture_answer
        set correct_count = #{correctCount}
        where id = #{id}
    </update>

    <insert id="insert_into_user_book_chapter_part_architecture_answer">
        insert into user_book_chapter_part_architecture_answer(user_id, book_id, book_chapter_id, book_chapter_part_id, correct_count)
        values (#{userId}, #{bookId}, #{bookChapterId}, #{bookChapterPartId}, #{correctCount})
    </insert>
</mapper>